*{
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 10% auto;
    }
    .canvas{
        position: relative;
            margin: 0 auto;
            overflow: hidden;
            height:100px;
    }
    .butterfly{
        position: absolute;
        width: 100%;
        background: #fff;

    }
    .text{
 text-align: center;
margin: 0 auto;
font-family: "League-Gothic", Courier;
font-size: 45px;

color: #222;
text-shadow: 0px 2px 3px #666;
    }
.wing {
    width: 20px;
height: 20px;
}
.wing .top {
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
width: 20px;
height: 20px;
background: #F2870E;
position: relative;
left: 20px;
border-radius: 100% 0% 50% 50% / 60% 60% 40% 40%;
}
.wing .bottom {
width: 20px;
height: 20px;
background: #f00;
position: relative;
top: -20px;   
border-radius: 70% 0% 50% 50% / 60% 60% 40% 40%;
}
.left .bottom{
    transform: scaleY(-1);
}
.right .top{
    transform: scaleX(-1);
}
.tusk{
    border:2px solid #9D9494;
    background: #ccc;
    width:20px;
    margin-left: 10px;
    border-radius:5px 2px;
}
.antenna{
border-top: 1px solid #000;
width: 20px;
height: 2px;
left: 20px;
position: relative;
background: transparent;
}
.west{
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
-ms-transform: rotate(10deg);
-o-transform: rotate(10deg);
}
.east{
    -webkit-transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
-o-transform: rotate(-20deg);
}
